body {
    margin-top: 30px;
    text-align: center;
}

.foto {
    border-radius: 50%;
}

.pencet {
    display: flex;
    justify-content: center;
}

.pencet .about {
    margin-right: 10px;
}

.pencet .about a {
    text-decoration:none;
    color: blanchedalmond;
    background-color: blue;
    padding: 10px;
    border-radius: 30px;
}

.pencet .contact a {
    text-decoration:none;
    color: #000;
    background-color: white;
    padding: 7px;
    border: 2px solid blue;
    border-radius: 30px;
}